name: Kratium
description: "The Kratium App"

version: 1.0.0+1

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true
  assets:
    - images/Avatar.jpg
  fonts:
    - family: Pacifico
      fonts:
      - asset: fonts/Pacifico-Regular.ttf
    - family: SourceCodePro
      fonts:
      - asset: fonts/SourceCodePro-Regular.ttf


